body{
    background-color: rgb(81, 81, 81) !important;
    margin: 0;
}

h1{
    color: rgb(0, 0, 0) !important;
}

.alert{
    width: 30% !important;
    margin: 0 auto;
}

.btn{
    width: 100px !important;
}

.ficha{
    background-color: rgb(255, 255, 255);
    margin: 3px;
    border: 3px solid black;
    height: 100px;
}

.rojo{
    background-color: red;
}

.azul{
    background-color: blue;
}

.amarillo{
    background-color: yellow;
}

.verde{
    background-color: green;
}

.celeste{
    background-color: skyblue
}

.naranja{
    background-color: orange;
}

.violeta{
    background-color: violet;
}

.blanco{
    background-color: white;
}

